
@import 'variables';


@mixin wordWrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.pagination-button {
    text-align: center;
    a {
        margin-right: 1em;
    }
}

body {
    font-family: $body-font;
    background-color: $body-color;
}
.logo {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    
}

.menu {
    list-style: none;
    padding-left: 0;

    li {
        
        text-align: center;
        margin-bottom: 0.75em;

        a {
            text-decoration: none;
            color: $text-color;
            display: inline-block;
            width: 100%;
            font-size: $header-font-size;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}


main {
    h1 {
        text-align: center;
    }
    .job-article {
        text-align: center;
    }
}
.card {
    section {
        margin-bottom: 1em;
    }
}

.card {
    
    padding: 1em;
    margin-bottom: 2em;
    border: 1px dotted black;

    pre {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: $code-color;
        padding: 1em;
        border-radius: 1em;
        display: block;
        @include wordWrap;
    }

    .code {
        background-color: $code-color;
        @include wordWrap;
    }

    p {
        margin-top: 0.5em;
    }
}

h5, h6, h4 {
    margin-bottom: 1em;
    margin-top: 1em;
}

footer {
    text-align:  center;
    margin-top: 1em;
}