* {
    margin: 0;
    box-sizing: border-box;
}



/*****************
Element Selecors
*****************/

header h2,
main h1 {
    margin: 1em 0;
}

body {
    font-family: "Archivo Narrow",  "sans-serif";
    background-color: #f5f5f5;
}

main h1 {
    text-align: center;
    padding: 0.5em 0;
}



footer {
    text-align: center;
    margin-top: 1em;
}

/*https://color.adobe.com/create/color-wheel?base=2&rule=Complementary&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.49,0.6217647058823286,0.7,0.5316244938267534,0.8255071643667754,1,0.8,0.9254901960784314,1,0.7,0.5812516339870307,0.42000000000000004,1,0.9151797385621648,0.8&swatchOrder=0,1,2,3,4*/
/*https://color.adobe.com/create/color-wheel?base=2&rule=Complementary&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.6607843137254902,0.5947058823529411,0.5947058823529411,0.9607843137254902,0.7029333372060963,0.7029333372060963,0.9607843137254902,0.9607843137254902,0.9607843137254902,0.5286274509803922,0.6607843137254902,0.566030336663055,0.9607843137254902,0.9607843137254902,0.9607843137254902&swatchOrder=0,1,2,3,4*/


/*****************
Class Selecors
*****************/

.logo,
.menu {
    text-align: center;
}

.menu {
    padding-left: 0;
}
.menu li {
    list-style: none;
    margin: 1em;
}
.menu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    font-size: 2em;
}

.job-article {
    /* background-color: #A89898; */
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

.wrapper {
    margin-right: 1em;
    margin-left: 1em;
}


/*****************
Pseudo Selectors
*****************/
.menu li a:hover {
    text-decoration: underline;
}

/*****************
Media Queries
*****************/
@media (min-width: 600px){
/***************
Univeresal
***************/

    /**** Menu ****/
    header {
        display: flex;
        align-content: space-between;
    }


    .menu ul {
        display: flex;
    }

    .menu li {
        display: inline-block;
        list-style: none;
    }


    /**** Body ****/
    main {
        margin-right: 1em;
        margin-left: 1em;
    }
}