*{
    margin: 0;
}



/*****************
Element Selecors
*****************/

header h2,
main h1 {
    margin: 1em 0;
}

main h1 {
    text-align: center;
    padding: 0.5em 0;
}

footer {
    text-align: center;
    margin-top: 1em;
}


/*****************
Class Selecors
*****************/

.logo,
.menu {
    text-align: center;
}

.menu {
    padding-left: 0;
}
.menu li {
    list-style: none;
    margin: 1em;
}
.menu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
}

.wrapper {
    margin-right: 1em;
    margin-left: 1em;
}


/*****************
Pseudo Selectors
*****************/
.menu li a:hover {
    text-decoration: underline;
}

/*****************
Media Queries
*****************/
@media (min-width: 600px){
/***************
Univeresal
***************/

    /**** Menu ****/
    header {
        display: flex;
        align-content: space-between;
    }


    .menu ul {
        display: flex;
    }

    .menu li {
        display: inline-block;
        list-style: none;
    }


    /**** Body ****/
    main {
        margin-right: 1em;
        margin-left: 1em;
    }
}